*{
    margin: 0;
    padding: 0;
}
.calculatrice{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    color: red;
    text-align: center;
}
.elements{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
}