*{
    margin: 0;
    padding: 0;
}
.calculatrice{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: red;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 15px;
}
.elements{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 500px;
}
.resulte{
    height: 90px;
    text-align: right;
    border: 2px solid black;
    background-color: rgb(225, 255, 245);
    margin-bottom: 10px;
}
.numbers button{
    width: 120px;
    height: 50px;
    border-radius: 4px;
    background-color: rgb(141, 237, 237);
    margin-bottom: 3px;
}
.numbers #calcul{
    background-color: rgb(191, 123, 255);
}
.characters{
    display: flex;
}
.Operations button{
    width: 90px;
    height: 50px;
}